[Unit]
Description=Selector SMAX Daemon
After=network-online.target
After=multi-user.target
Requires=network-online.target

[Service]
Type=notify
NotifyAccess=all
User=smauser
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/usr/local/lib/selector_smax_daemon
ExecStart=/usr/local/lib/selector_smax_daemon/on_start.sh

[Install]
WantedBy=default.target
